body{
    background-color:rgb(144, 213, 255);
    /*overflow: -moz-hidden-unscrollable;
    overflow: hidden;*/
    min-height: 800px;
    padding: 80px 0px 0px 0px;
}

div.basicInf fieldset{
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px black;
}
div.inl{
    display: inline-flex;
    gap: 10px;
}

legend{
    font-weight: bold;
    font-size: 2em;
    border-radius: 5px;
    background-color: rgb(81, 120, 145);
    border: 1px solid black;
}

div.pic{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 5px;
}
img.imag{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
p{
    font-size: 1.2em;
}

div.belowPic{
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

div.educAtt fieldset{
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0px 0px 10px 1px black;
}
fieldset{
    background-color: rgb(87, 185, 255);
}


/*Footer css*/
div#foot img{
    position: absolute;
    width: 30px;
    height: auto;
    margin: 10px;
}
div#foot div#footlink{
    display: inline-flex;
    flex-direction: row;
    width: 250px;
    height: 50px;
    margin: 10px 20px;
}
div#foot a{
    margin: 0px 0px 0px 50px;
    align-self: center;
    text-align: start;
    width: auto;
    height: auto;
    box-shadow: 0px 0px 0px 0px;
    text-decoration: none;
    border-radius: 0;
    background-color: transparent;
    transition: none;
    color: black;
}
div#foot a:hover{
    transform: none;
}
div#foot{
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(81, 120, 145);
    width: 100%;
    min-height: 100px;
    margin: auto 0px 0px 0px;
    bottom: 10px;
    display: flex;
    flex-direction: row;

}

@media (max-width:420px) {

    body{
        padding-right: 5vw;
        overflow: none;
        width: 100%;
    }
    /*
    div{
        margin: 0;
        width: 80vw;
        display: block;
    }*/
    legend{
        font-size: 1.5em;
    }

    
    div.textCont{
        margin-top: 20px;
    }
    div.inl{
        display: block;
    }

    div.main{
        width: 95vw;
        margin: 0 auto;
        left: 50%;
    }

    div.main fieldset{
        margin: 0;
        position: relative;
        display: inline;
        width: 90%;
        border-radius: 5px;
        margin: 2vw;
        box-shadow: 0px 0px 10px 1px black;
    }
    p{
        margin: 0px;
    }
    p.def{
        margin-bottom: 10px;
    }
    div.educAtt legend{
        font-size: 2em;
    }
    @media screen and (max-width:500px) {
     
    div#foot{
        flex-direction: column;
    }   
    }
}

